
.header {
  position: relative;
  width: 100%;
  z-index: 100;
}


/*===== NAV =====*/
.header .nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
}


.header .nav li
{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.header .nav li i
{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5081FB;
    border-radius: 16px;
    margin-right: 16px;
}

.header .nav li:nth-child(2)
{
    opacity: .5;

    & i
    { background: #5080fb44; }
}

/*=== Show menu ===*/
.show{
  right: 0;
}
